{% set channels = [
    {
      id: 'first',
      logo: {
        x1: 'svg/1channel.svg'
      },
      name: 'Первый канал',
      program: [
        {
          time: '13:00',
          name: 'Новости (с субтитрами)'
        }, {
          time: '14:00',
          name: 'Давай поженимся'
        }, {
          time: '15:00',
          name: 'Другие новости'
        }
      ]
    }, {
      id: 'ch2x2',
      logo: {
        x1: '9649e2277403a07b87ba6ec2b35298f2_1x.png',
        x2: '9649e2277403a07b87ba6ec2b35298f2.png'
      },
      name: '2x2',
      program: [
        {
          time: '13:00',
          name: 'МУЛЬТ ТВ. Сезон 4, 7 серия'
        }, {
          time: '14:00',
          name: 'ПОДОЗРИТЕЛЬНАЯ СОВА. Сезон 7, 7 серия'
        }, {
          time: '15:00',
          name: 'БУРДАШЕВ. Сезон 1, 20 серия'
        }
      ]
    }, {
      id: 'rbk',
      logo: {
        x1: 'svg/rbk.svg'
      },
      name: 'РБК',
      program: [
        {
          time: '13:00',
          name: 'ДЕНЬ. Горючая смесь: как бороться с суррогатом на АЗС'
        }, {
          time: '14:00',
          name: 'ДЕНЬ. Главные темы'
        }, {
          time: '15:00',
          name: 'Главные новости'
        }
      ]
    }, {
      id: 'amedia-premium',
      logo: {
        x1: 'svg/amedia-premium.svg'
      },
      name: 'AMEDIA PREMIUM',
      program: [
        {
          time: '13:00',
          name: 'Клиент всегда мёртв'
        }, {
          time: '14:00',
          name: 'Голодные игры: Сойка-пересмешница. Часть I'
        }, {
          time: '15:00',
          name: 'Секс в большом городе'
        }
      ]
    }, {
      id: 'rbk1',
      logo: {
        x1: 'svg/rbk.svg'
      },
      name: 'РБК',
      program: [
        {
          time: '13:00',
          name: 'ДЕНЬ. Горючая смесь: как бороться с суррогатом на АЗС'
        }, {
          time: '14:00',
          name: 'ДЕНЬ. Главные темы'
        }, {
          time: '15:00',
          name: 'Главные новости'
        }
      ]
    }, {
      id: 'amedia-premium1',
      logo: {
        x1: 'svg/amedia-premium.svg'
      },
      name: 'AMEDIA PREMIUM',
      program: [
        {
          time: '13:00',
          name: 'Клиент всегда мёртв'
        }, {
          time: '14:00',
          name: 'Голодные игры: Сойка-пересмешница. Часть I'
        }, {
          time: '15:00',
          name: 'Секс в большом городе'
        }
      ]
    }, {
      id: 'first1',
      logo: {
        x1: 'svg/1channel.svg'
      },
      name: 'Первый канал',
      program: [
        {
          time: '13:00',
          name: 'Новости (с субтитрами)'
        }, {
          time: '14:00',
          name: 'Давай поженимся'
        }, {
          time: '15:00',
          name: 'Другие новости'
        }
      ]
    }
  ]
%}
