{% set films = {
    mult103: {
      genres: [ 'comedy' ],
      country: 'США, Германия',
      name: 'Мульт в кино. Выпуск №103. Некогда грустить!',
      poster: {
        x1: '153f3d2d5f76c27abdd000814c4aec3b_1x.jpg',
        x2: '153f3d2d5f76c27abdd000814c4aec3b_2x.jpg',
        square: '153f3d2d5f76c27abdd000814c4aec3b_og.jpg',
        description: 'Котенок на фоне леса'
      },
      description: 'Фильм повествует о череде событий, произошедших в Голливуде
        в 1969 году, на закате его «золотого века». Известный актер Рик Далтон и
        его дублер Клифф Бут пытаются найти свое место в стремительно меняющемся
        мире киноиндустрии.'
    },
    batman: {
      genres: [ 'scienceFiction', 'drama' ],
      country: 'США',
      name: 'Новый Бэтмен',
      poster: {
        x1: 'fd819b8496f1a816ed1a9c5fef027583_1x.jpg',
        x2: 'fd819b8496f1a816ed1a9c5fef027583_2x.jpg',
        square: 'fd819b8496f1a816ed1a9c5fef027583_og.jpg',
        description: 'Бэтмен в окружении летучих мышей'
      },
      description: 'Фильм повествует о череде событий, произошедших в Голливуде
        в 1969 году, на закате его «золотого века». Известный актер Рик Далтон и
        его дублер Клифф Бут пытаются найти свое место в стремительно меняющемся
        мире киноиндустрии.'
    },
    hollywood: {
      genres: [ 'comedy' ],
      country: 'США, Германия',
      name: 'Однажды в... Голливуде',
      poster: {
        x1: 'f3b8588d1ebaec8e12f300efe1305e30_1x.jpg',
        x2: 'f3b8588d1ebaec8e12f300efe1305e30_2x.jpg',
        square: 'f3b8588d1ebaec8e12f300efe1305e30_og.jpg',
        description: 'Знак Голливуда'
      },
      description: 'Фильм повествует о череде событий, произошедших в Голливуде
        в 1969 году, на закате его «золотого века». Известный актер Рик Далтон и
        его дублер Клифф Бут пытаются найти свое место в стремительно меняющемся
        мире киноиндустрии.'
    },
    strippers: {
      genres: [ 'comedy' ],
      country: 'США, Германия',
      name: 'Стриптизёрши',
      poster: {
        x1: '577a08ba36249ba66c4c31fe55a8dbec_1x.jpg',
        x2: '577a08ba36249ba66c4c31fe55a8dbec_2x.jpg',
        square: '577a08ba36249ba66c4c31fe55a8dbec_og.jpg',
        description: 'Девушка с синими волосами и в солнцезащитных очках крупным планом'
      },
      description: 'Фильм повествует о череде событий, произошедших в Голливуде
        в 1969 году, на закате его «золотого века». Известный актер Рик Далтон и
        его дублер Клифф Бут пытаются найти свое место в стремительно меняющемся
        мире киноиндустрии.'
    },
    batman1: {
      genres: [ 'scienceFiction', 'drama' ],
      country: 'США',
      name: 'Новый Бэтмен 1',
      poster: {
        x1: 'fd819b8496f1a816ed1a9c5fef027583_1x.jpg',
        x2: 'fd819b8496f1a816ed1a9c5fef027583_2x.jpg',
        square: 'fd819b8496f1a816ed1a9c5fef027583_og.jpg',
        description: 'Бэтмен в окружении летучих мышей'
      },
      description: 'Фильм повествует о череде событий, произошедших в Голливуде
        в 1969 году, на закате его «золотого века». Известный актер Рик Далтон и
        его дублер Клифф Бут пытаются найти свое место в стремительно меняющемся
        мире киноиндустрии.'
    },
    strippers1: {
      genres: [ 'comedy' ],
      country: 'США, Германия',
      name: 'Стриптизёрши 1',
      poster: {
        x1: '577a08ba36249ba66c4c31fe55a8dbec_1x.jpg',
        x2: '577a08ba36249ba66c4c31fe55a8dbec_2x.jpg',
        square: '577a08ba36249ba66c4c31fe55a8dbec_og.jpg',
        description: 'Девушка с синими волосами и в солнцезащитных очках крупным планом'
      },
      description: 'Фильм повествует о череде событий, произошедших в Голливуде
        в 1969 году, на закате его «золотого века». Известный актер Рик Далтон и
        его дублер Клифф Бут пытаются найти свое место в стремительно меняющемся
        мире киноиндустрии.'
    },
    batman2: {
      genres: [ 'scienceFiction', 'drama' ],
      country: 'США',
      name: 'Новый Бэтмен 2',
      poster: {
        x1: 'fd819b8496f1a816ed1a9c5fef027583_1x.jpg',
        x2: 'fd819b8496f1a816ed1a9c5fef027583_2x.jpg',
        square: 'fd819b8496f1a816ed1a9c5fef027583_og.jpg',
        description: 'Бэтмен в окружении летучих мышей'
      },
      description: 'Фильм повествует о череде событий, произошедших в Голливуде
        в 1969 году, на закате его «золотого века». Известный актер Рик Далтон и
        его дублер Клифф Бут пытаются найти свое место в стремительно меняющемся
        мире киноиндустрии.'
    },
    hollywood2: {
      genres: [ 'comedy' ],
      country: 'США, Германия',
      name: 'Однажды в... Голливуде 1',
      poster: {
        x1: 'f3b8588d1ebaec8e12f300efe1305e30_1x.jpg',
        x2: 'f3b8588d1ebaec8e12f300efe1305e30_2x.jpg',
        square: 'f3b8588d1ebaec8e12f300efe1305e30_og.jpg',
        description: 'Знак Голливуда'
      },
      description: 'Фильм повествует о череде событий, произошедших в Голливуде
        в 1969 году, на закате его «золотого века». Известный актер Рик Далтон и
        его дублер Клифф Бут пытаются найти свое место в стремительно меняющемся
        мире киноиндустрии.'
    },
    strippers2: {
      genres: [ 'comedy' ],
      country: 'США, Германия',
      name: 'Стриптизёрши 2',
      poster: {
        x1: '577a08ba36249ba66c4c31fe55a8dbec_1x.jpg',
        x2: '577a08ba36249ba66c4c31fe55a8dbec_2x.jpg',
        square: '577a08ba36249ba66c4c31fe55a8dbec_og.jpg',
        description: 'Девушка с синими волосами и в солнцезащитных очках крупным планом'
      },
      description: 'Фильм повествует о череде событий, произошедших в Голливуде
        в 1969 году, на закате его «золотого века». Известный актер Рик Далтон и
        его дублер Клифф Бут пытаются найти свое место в стремительно меняющемся
        мире киноиндустрии.'
    },
    batman3: {
      genres: [ 'scienceFiction', 'drama' ],
      country: 'США',
      name: 'Новый Бэтмен 3',
      poster: {
        x1: 'fd819b8496f1a816ed1a9c5fef027583_1x.jpg',
        x2: 'fd819b8496f1a816ed1a9c5fef027583_2x.jpg',
        square: 'fd819b8496f1a816ed1a9c5fef027583_og.jpg',
        description: 'Бэтмен в окружении летучих мышей'
      },
      description: 'Фильм повествует о череде событий, произошедших в Голливуде
        в 1969 году, на закате его «золотого века». Известный актер Рик Далтон и
        его дублер Клифф Бут пытаются найти свое место в стремительно меняющемся
        мире киноиндустрии.'
    },
    hollywood3: {
      genres: [ 'comedy' ],
      country: 'США, Германия',
      name: 'Однажды в... Голливуде 2',
      poster: {
        x1: 'f3b8588d1ebaec8e12f300efe1305e30_1x.jpg',
        x2: 'f3b8588d1ebaec8e12f300efe1305e30_2x.jpg',
        square: 'f3b8588d1ebaec8e12f300efe1305e30_og.jpg',
        description: 'Знак Голливуда'
      },
      description: 'Фильм повествует о череде событий, произошедших в Голливуде
        в 1969 году, на закате его «золотого века». Известный актер Рик Далтон и
        его дублер Клифф Бут пытаются найти свое место в стремительно меняющемся
        мире киноиндустрии.'
    },
    strippers3: {
      genres: [ 'comedy' ],
      country: 'США, Германия',
      name: 'Стриптизёрши 3',
      poster: {
        x1: '577a08ba36249ba66c4c31fe55a8dbec_1x.jpg',
        x2: '577a08ba36249ba66c4c31fe55a8dbec_2x.jpg',
        square: '577a08ba36249ba66c4c31fe55a8dbec_og.jpg',
        description: 'Девушка с синими волосами и в солнцезащитных очках крупным планом'
      },
      description: 'Фильм повествует о череде событий, произошедших в Голливуде
        в 1969 году, на закате его «золотого века». Известный актер Рик Далтон и
        его дублер Клифф Бут пытаются найти свое место в стремительно меняющемся
        мире киноиндустрии.'
    },
    batman4: {
      genres: [ 'scienceFiction', 'drama' ],
      country: 'США',
      name: 'Новый Бэтмен 4',
      poster: {
        x1: 'fd819b8496f1a816ed1a9c5fef027583_1x.jpg',
        x2: 'fd819b8496f1a816ed1a9c5fef027583_2x.jpg',
        square: 'fd819b8496f1a816ed1a9c5fef027583_og.jpg',
        description: 'Бэтмен в окружении летучих мышей'
      },
      description: 'Фильм повествует о череде событий, произошедших в Голливуде
        в 1969 году, на закате его «золотого века». Известный актер Рик Далтон и
        его дублер Клифф Бут пытаются найти свое место в стремительно меняющемся
        мире киноиндустрии.'
    },
    hollywood4: {
      genres: [ 'comedy' ],
      country: 'США, Германия',
      name: 'Однажды в... Голливуде 3',
      poster: {
        x1: 'f3b8588d1ebaec8e12f300efe1305e30_1x.jpg',
        x2: 'f3b8588d1ebaec8e12f300efe1305e30_2x.jpg',
        square: 'f3b8588d1ebaec8e12f300efe1305e30_og.jpg',
        description: 'Знак Голливуда'
      },
      description: 'Фильм повествует о череде событий, произошедших в Голливуде
        в 1969 году, на закате его «золотого века». Известный актер Рик Далтон и
        его дублер Клифф Бут пытаются найти свое место в стремительно меняющемся
        мире киноиндустрии.'
    }
  }
%}
