{% set genres = {
    comedy: {
      emojiType: 'comedy',
      name: {
        single: 'Комедия',
        multiple: 'Комедии'
      },
      color: 'yellow'
    },
    drama: {
      emojiType: 'drama',
      name: {
        single: 'Драма',
        multiple: 'Драмы'
      }
    },
    scienceFiction: {
      emojiType: 'fiction',
      name: {
        single: 'Фантастика',
        multiple: 'Фантастика'
      },
      color: 'blue'
    },
    horror: {
      emojiType: 'horror',
      name: {
        single: 'Ужасы',
        multiple: 'Ужасы'
      },
      color: 'gray'
    }
  }
%}
