{% extends "templates/_layout.njk" %}
{% from "components/_macros.njk" import img, backBtn %}
{% from "data/_genres.njk" import genres %}
{% from "data/_films.njk" import films %}

{% set hideNav = true %}
{% set film = films[filmID] %}
{% set metaTitle = film.name %}
{% set metaDescription = 'Информация о фильме "' + film.name + '" и отзывы зрителей' %}

{% set ogImage = film.poster.square %}
{% set ogType = 'article' %}

{% block main %}
  <main class="container container_film">
    <a href="/" class="go-back" aria-label="Назад">{{ backBtn() }}</a>

    <section class="film">
      {{ img(film.poster.x1, film.poster.x2, 'film__poster', film.poster.description) }}
      <div class="film__info">
        <p id="film-id" hidden>{{ filmID }}</p> {# для комментариев в js #}
        <table class="film__params">
          <tbody>
            <tr>
              <td class="film__param-name">Название:</td>
              <td class="film__param"><h1>{{ film.name }}</h1></td>
            </tr>
            <tr>
              <td class="film__param-name">Страна:</td>
              <td class="film__param">{{ film.country }}</td>
            </tr>
            <tr>
              <td class="film__param-name">Жанр:</td>
              <td class="film__param">
                {% set comma = joiner() %}
                {% for genreID in film.genres -%}
                  {{ comma() }} {{ genres[genreID].name.single }}
                {%- endfor %}
              </td>
            </tr>
          </tbody>
        </table>

        <p>{{ film.description }}</p>
      </div>

      <div class="film__clear"></div>
    </section>

    <section class="comments">
      <h2 class="comments__title">Комментарии</h2>

      {% include "components/_new-comment.njk" %}

      <ul class="comments__list"></ul>
    </section>
  </main>
{% endblock %}
