{% set webAddress = 'http://example.com/' %}

<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ (metaTitle + ' — ') if metaTitle }}Видеосервис</title>
    <meta property="og:title" content="{{ (metaTitle + ' — ') if metaTitle }}Видеосервис">
    {% if metaDescription %}
      <meta name="description" content="{{ metaDescription }}">
      <meta property="og:description" content="{{ metaDescription }}">
    {% endif %}
    {% if ogImage %}
      <meta property="og:image" content="{{ webAddress }}${require('img/{{ ogImage }}')}">
    {% else %}
      <meta property="og:image" content="{{ webAddress }}${require('img/svg/logo_og.svg')}">
    {% endif %}
    {% if ogType %}
      <meta property="og:type" content="{{ ogType }}">
    {% endif %}
    <meta property="og:locale" content="ru_RU" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  <body>
    <div class="wrapper">
      {% include "components/_header.njk" %}
      {% include "components/_main-nav.njk" %}

      <noscript class="noscript-error">
        <strong>Внимание!</strong>
        В Вашем браузере отключен JavaScript. Некоторые возможности сайта будут
        недоступны.
      </noscript>

      {% block main %}{% endblock %}
    </div>
    {% include "components/_popup.njk" %}
    {% include "components/_footer.njk" %}
  </body>
</html>
