{% from "components/_macros.njk" import img %}

<a href="/" class="branding" aria-label="На главную">
  {{ img('svg/logo.svg', null, 'branding__image', 'На главную') }}
  <span class="branding__text">Видеосервис</span>
</a>
