{% from "data/_films.njk" import films %}
{% from "components/_macros.njk" import img %}

{% macro filmCard(title, description, poster, href) %}
  {% if href %} <a aria-label="{{ title }}"
                   class="film-card"
                   href="{{ href }}" >
                  <article>
  {% else %} <article class="film-card"> {% endif %}

      <div class="film-card__info">
        {% if description %}
          <div class="film-card__description">
            <p>{{ description }}</p>
          </div>
        {% endif %}
        {{ img(poster.x1, poster.x2, 'film-card__poster', poster.description) }}
      </div>

      <h2 class="film-card__title">{{ title }}</h2>

    </article>
  {% if href %} </a> {% endif %}
{% endmacro %}

  <section class="gallery">
    <h2 class="gallery__title">
      <i class="gallery__icon"></i>
      <span>Новинки</span>
    </h2>
    <ul class="gallery__list gallery__list_films">
      {% for filmId, film in films %}
        <li class="gallery__element">
          {{ filmCard(film.name, film.description, film.poster, 'films/' + filmId) }}
        </li>
      {% endfor %}
    </ul>
  </section>
