{% from "components/_macros.njk" import img %}

<footer>
  <div class="container footer">
    {{ img('svg/htc-logo.svg', null, 'footer__logo', 'Центр Высоких Технологий') }}
    <div class="footer__info">
      <p>426057, Россия, Удмуртская Республика, г. Ижевск, ул. Карла Маркса, 246 (ДК «Металлург»)</p>
      <p>
        <a href="tel:+73412938861" aria-label="Телефон компании">+7 (3412) 93-88-61</a>,
        <a href="tel:+73412938861" aria-label="Телефон компании">43-29-29</a>
      </p>
      <p class="footer__weblink">
        <a href="//htc-cs.ru" aria-label="Сайт компании">htc-cs.ru</a>
      </p>
    </div>
  </div>
</footer>
