{% from "data/_genres.njk" import genres %}

{% macro genreCard(title, color, emojiType) %}
  <article class="genre-card {{ ('genre-card_' + color) if color }}">
    <i class="genre-card__emoji genre-card__emoji_{{ emojiType }}"></i>
    <h2 class="genre-card__title">{{ title }}</h2>
  </article>
{% endmacro %}

  <section class="gallery">
    <h2 class="gallery__title">Жанры</h2>
    <ul class="gallery__list gallery__list_genres">
      {% for genreID, genre in genres %}
        <li class="gallery__element">
          {{ genreCard(genre.name.multiple, genre.color, genre.emojiType) }}
        </li>
      {% endfor %}
    </ul>
  </section>
