<header>
  <div class="container header">
    <div class="header__logo">
      {% include "components/_branding.njk" %}
    </div>
    <div class="header__user">
      {% include "components/_user-control.njk" %}
    </div>
    <div class="header__searchbar">
      {% include "components/_searchbar.njk" %}
    </div>
  </div>
</header>
