<div class="popup" id="log-in-popup">
  <div class="popup__background"></div>
  <div class="popup__body">
    <form class="log-in" action="" method="post" id="log-in">
      <h2 class="log-in__header">Вход</h2>
      <input type="text"
             aria-label="Логин"
             name="username"
             class="log-in__input"
             placeholder="Логин"
             required />
      <input type="password"
             aria-label="Пароль"
             name="password"
             class="log-in__input"
             placeholder="Пароль"
             required />

      <label class="log-in__checkbox checkbox">
        <input type="checkbox" name="save" hidden>
        <span class="checkbox__checkmark"></span>
        <span class="checkbox__label">Запомнить</span>
      </label>

      <div class="log-in__controls">
        <button type="submit" class="log-in__submit">Войти</button>
      </div>
    </form>
  </div>
</div>
