{% macro img(src, x2, class, alt) %}
  {% if src %}
    <img class="{{ class }}"
         src="~img/{{ src }}"

         {% if x2 %} srcset="${require('img/{{ x2 }}')} 2x" {% endif %}

         {% if alt %} alt="{{ alt }}"
         {% else %} aria-hidden=true
         {% endif %}
         />
  {% endif %}
{% endmacro %}

{% macro backBtn() %}
  <svg class="themed-svg" width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 22L2 12L12 2" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"/>
  </svg>
{% endmacro %}

{% macro crossBtn() %}
  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.929124 15.0711C0.538599 14.6806 0.538599 14.0474 0.929124 13.6569L13.657 0.929001C14.0476 0.538478 14.6807 0.538477 15.0713 0.929001C15.4618 1.31953 15.4618 1.95269 15.0713 2.34321L2.34334 15.0711C1.95281 15.4617 1.31965 15.4617 0.929124 15.0711Z"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.0713 15.0711C14.6807 15.4617 14.0476 15.4617 13.657 15.0711L0.929124 2.34321C0.5386 1.95269 0.538599 1.31953 0.929124 0.929001C1.31965 0.538477 1.95281 0.538478 2.34334 0.929001L15.0713 13.6569C15.4618 14.0474 15.4618 14.6806 15.0713 15.0711Z"/>
  </svg>
{% endmacro %}
