{% if not hideNav %}
  {% macro sectionLink(url, label, section) %}
    {% set isCurSection = section === curSection %}
    <a href="{{ url }}"
       class="main-nav__link {% if isCurSection %}main-nav__link_active{% endif %}">

      {# если это текущий раздел - ссылка также является заголовком страницы #}
      {% if isCurSection %} <h1 class="main-nav__cur-page"> {% endif %}
        {{ label }}
      {% if isCurSection %} </h1> {% endif %}
    </a>
  {% endmacro %}

  <nav>
    <div class="container">
      <ul class="main-nav">
        <li class="main-nav__element">
          {{ sectionLink('/', 'Фильмы', 'films') }}
        </li>
        <li class="main-nav__element">
          {{ sectionLink('/channels', 'Телеканалы', 'channels') }}
        </li>
      </ul>
    </div>
  </nav>
{% endif %}
