<form class="new-comment" action="" method="post" id="new-comment">
  <textarea name="comment"
            aria-label="Текст комментария"
            class="new-comment__input"
            rows="4"
            placeholder="Введите комментарий..."
            required></textarea>
  <button type="submit" class="new-comment__send">Опубликовать</button>
</form>
