<div class="popup popup_error" id="error-popup">
  <div class="popup__background"></div>
  <div class="popup__body">
    <p class="popup__message"></p>
    <button type="button" class="popup__close">ОК</button>
  </div>
</div>
