<form class="searchbar" action="" method="post">
  <input aria-label="Поисковый запрос"
         class="searchbar__input"
         placeholder="Поиск..."
         name="query" />
  <button type="submit" class="searchbar__search">
    Найти
  </button>
</form>
