<div class="user" id="user-panel">
  <div class="user__logged-out">
    <button type="button"
            class="user__log-in"
            id="user-log-in">Войти</button>
  </div>

  <div class="user__logged-in">
    <span class="user__username" id="username"></span>
    <input type="text"
           aria-label="Новый логин"
           class="user__input"
           id="username-input" />

    <button type="button" class="user__log-out" id="log-out">Выйти</button>
  </div>

{% include "components/_login-form.njk" %}

</div>
