{% extends "templates/_layout.njk" %}
{% from "data/_channels.njk" import channels %}
{% from "components/_macros.njk" import img %}

{% set curSection = 'channels' %}
{% set metaTitle = 'Телеканалы' %}
{% set metaDescription = 'Телепрограмма всех каналов на ближайшее время (по московскому времени).' %}

{% macro channelCard(title, logo, program, id) %}
  <article class="channel">
    <div class="channel__branding">
      {{ img(logo.x1, logo.x2, 'channel__logo channel__logo_' + id) }}
    </div>
    <div class="channel__info">
      <h2 class="channel__title">{{ title }}</h2>
      <table class="program">
        <tbody>
          {% for film in program %}
            <tr class="program__film">
              <td class="program__time">{{ film.time }}</td>
              <td>{{ film.name }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </article>
{% endmacro %}

{% block main %}
<main class="container">
    <ul class="channels scrollbar-inner">
      {% for channel in channels %}
        <li class="channels__item">
          {{ channelCard(channel.name, channel.logo, channel.program, channel.id) }}
        </li>
      {% endfor %}
    </ul>
</main>
{% endblock %}
