{% extends "templates/_layout.njk" %}

{% set curSection = 'films' %}
{% set metaDescription = 'Новинки из мира кино: описание, отзывы, поиск по жанрам и многое другое.' %}

{% block main %}
  <main class="container">
    {% include "components/_films-gallery.njk" %}
    {% include "components/_genre-gallery.njk" %}
  </main>
{% endblock %}
