@import './variables';
@import './fonts';


/*--- font sizes ---*/
@mixin text-size {
  font-size: $text-size;
  @media (max-width: $w-sm) {
    font-size: $text-size-sm;
  }
}
@mixin title-size {
  font-size: $title-size;
  @media (max-width: $w-sm) {
    font-size: $title-size-sm;
  }
}
@mixin section-title-size {
  font-size: $section-title-size;
  @media (max-width: $w-sm) {
    font-size: $section-title-size-sm;
  }
}
@mixin page-title-size {
  font-size: $page-title-size;
  @media (max-width: $w-sm) {
    font-size: $page-title-size-sm;
  }
}
/*---*/

@mixin retina {
  @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      @content;
    }
}

@mixin absolutely-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin themed-input {
  @include text-size;
  border: none;
  border-bottom: 1px solid $gray1;
  margin-top: 1px;
  padding: 5px 0;
  font-weight: bold;

  &::placeholder {
    @include text-size;
    color: $gray3;
    font-weight: normal;
  	font-family: $font-family;
    line-height: 19px;
  }

  &::-ms-clear {
    display: none;
  }
}

@mixin themed-button {
  @include text-size;
  padding: 10px 32px 9px;
  border-radius: $border-radius-small;
  background-color: $primary;
  color: $white;
  border: none;
  font-weight: bold;
  line-height: 19px;

  &:hover,
  &:focus {
    background-color: $primary-dark;
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

@mixin flat-button {
  @include themed-button;
  padding: 0;
  background-color: transparent;
  color: $primary;
  line-height: initial;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}

@mixin scrollbar {
  width: $scrollbar-width;
  border-radius: 2px;
  background-color: $gray6;
}

@mixin scrollbar-thumb {
  width: 4px;
  border: 2px solid $gray6;
  border-radius: 10px;
  background-color: $gray4;
}

@mixin themed-scrollbar {
  &::-webkit-scrollbar {
    @include scrollbar;
  }

  &::-webkit-scrollbar-thumb {
    @include scrollbar-thumb;
  }
}

@mixin hidden-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
