@import "./mixins";

@mixin emoji-fire {
  display: inline-block;

  width: 24px;
  height: 24px;
  background-image: url('../resources/emoji_sprites.png');
  background-position: -98px 0;

  @include retina {
    background-image: url('../resources/emoji_sprites_2x.png');
    background-size: 123px 98px;
  };
}

@mixin genre-emoji {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url('../resources/emoji_sprites.png');

  @include retina {
    background-image: url('../resources/emoji_sprites_2x.png');
    background-size: 123px 98px;
  }
}

@mixin emoji-ghost {
  @include genre-emoji;
  background-position: 0 0;
}

@mixin emoji-extraterrestrial_alien {
  @include genre-emoji;
  background-position: -49px 0;
}

@mixin emoji-loudly_crying_face {
  @include genre-emoji;
  background-position: 0 -49px;
}

@mixin emoji-grinning_face_with_smiling_eyes {
  @include genre-emoji;
    background-position: -49px -49px;
}
