$font-family: 'rubik', Arial, sans-serif;

/* COLORS */
$white: #FFF;
$red: #E5261E;
$red-dark: #CC221B;

$gray1: #333333;
$gray3: #828282;
$gray4: #BDBDBD;
$gray6: #F2F2F2;

$htc-color: #1F4766;
$text-color: $gray1;
$primary: $red;
$primary-dark: $red-dark;

/* BORDER RADIUS */
$border-radius-big: 8px;
$border-radius-medium: 6px;
$border-radius-small: 4px;

/* MARGINS */
$margin-horizontal: 20px;
$margin-vertical: 16px;

/* SIZES */
$card-width: 280px;
$card-height: 370px;
$checkbox-size: 14px;
$scrollbar-width: 8px;

/* FONT SIZE */
$text-size: 16px;
$title-size: 20px;
$section-title-size: 24px;
$page-title-size: 28px;
// small screen size
$text-size-sm: 15px;
$title-size-sm: 18px;
$section-title-size-sm: 20px;
$page-title-size-sm: 24px;

/* BREAKPOINTS */
$w-lg: 1250px;
$w-md: 930px;
$w-sm: 650px;
$w-xs: 400px;
