@import "./variables";
@import "./mixins";
@import "./scrollbar";

.channels {
  @include themed-scrollbar;
  margin: 27px -16px 20px 0;
  padding-right: 8px; // под скролл
  overflow: auto;
}

.scroll-wrapper .channels__item {
  margin-right: 8px;
}

.channels__item + .channels__item {
  margin-top: $margin-vertical;
}

.channel {
  display: grid;
  position: relative;
  grid-gap: 6px;
	grid-template:
		"channel_branding channel_info" 1fr /
		       1fr            2fr;

  padding: 22px 10px 6px;
  background-color: $gray6;
  border-radius: $border-radius-big;
}

.channel__branding {
  grid-area: channel_branding;
  position: relative;
}

.channel__logo {
  max-width: 114px;
  max-height: 65px;
}

.channel__info {
  grid-area: channel_info;
}

.channel__title {
  @include title-size;
  margin-bottom: 5px;
  line-height: 24px;
}

.program {
  border-spacing: 0 12px;
  line-height: 19px;
}

.program__film:first-child {
  color: $primary;
}

.program__time {
  padding-right: 20px;
}

@media (max-width: $w-md) {
  .channel__logo {
    max-width: 95px;
    max-height: 54px;
  }
}

@media (min-width: $w-sm + 1) {
  .channel__logo {
    position: absolute;
    left: 50%;
    top: 50%;

    &.channel__logo_first,                 // в макете все расположены чуть
    &.channel__logo_first1 {               // по-разному относительно центра
      transform: translate(-27px, -40px);
    }
    &.channel__logo_ch2x2 {                // поэтому абсолютные значения
      transform: translate(-59px, -33px);
    }
    &.channel__logo_rbk,                   //
    &.channel__logo_rbk1 {                 //
      transform: translate(-30px, -35px);
    }
    &.channel__logo_amedia-premium,        //
    &.channel__logo_amedia-premium1 {      //
      transform: translate(-34px, -41px);
    }
  }
}

@media (max-width: $w-sm) {
  .channel {
    display: block;
    padding: 20px;
  }

  .channel__branding {
    margin: $margin-vertical 0;
    text-align: center;
  }
}
