/*
 * 1. COMMON
 	 * 1.1 CHECKBOX
	 * 1.2 POPUP
 * 2. HEADER
 	 * 2.1 LOGO
	 * 2.2 SEARCHBAR
	 * 2.3 USER CONTROL
	 	 * 2.3.1 LOGIN FORM
 * 3. MAIN NAV
 * 4. FOOTER
 */

/*--- 1. COMMON ---*/
@import './variables';
@import './mixins';
@import './fonts';

* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
  width: 100%;
}

body {
	@include text-size;
	display: table;
	font-family: $font-family;
  color: $text-color;
  line-height: 140%;
}

input,
textarea,
button {
	&:focus {
    outline: none;
  }
}

ul {
  list-style: none;
}

a {
	color: $htc-color;
}

button {
	font-family: $font-family;
}

main { // IE
  display: block;
}

.wrapper {
  display: table-row;
  height: 100%;
}

.container {
  margin: auto;
	max-width: 1180px;
}

.noscript-error {
	@extend .container;
	display: block;
	margin: $margin-vertical auto;
	text-align: center;
}

.themed-svg {
	stroke: $primary;
}

@media (max-width: $w-lg) {
	.container {
		width: 880px;
	}
}
@media (max-width: $w-md) {
	.container {
		width: 600px;
	}
}
@media (max-width: $w-sm) {
	.container {
		width: 90vw;
	}
}

/*--- 1.1 CHECKBOX ---*/
	.checkbox {
		cursor: pointer;
	}

	.checkbox__checkmark {
		display: inline-block;
		position: relative;
		height: $checkbox-size;
		width: $checkbox-size;
		margin-right: 4px;
		vertical-align: middle;
		border: 1px solid $gray1;
		border-radius: $border-radius-small;
		background-repeat: no-repeat;
    background-position: center;
	}

	input:checked ~ .checkbox__checkmark::after {
		content: "";
		@include absolutely-centered;
	  position: absolute;
	  top: 3px;
	  left: 2px;
		height: 4px;
		width: 9px;
		border-width: 0 0 1px 1px;
		border-style: solid;
		border-color: $primary;
		transform: rotate(-45deg);
	}

	.checkbox__label {
		vertical-align: middle;
	}
/*--- 1.1 ---*/

/*--- 1.2 POPUP ---*/
.popup {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	text-align: left;
	overflow: hidden;
	z-index: 999;
}

.popup.popup_error {
	text-align: center;
}

.popup__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba($gray1, .6);
}

.popup__body {
	@include absolutely-centered;
	width: 304px;
	max-width: 95%;
	background-color: $white;
	padding: 33px 36px 36px;
	box-sizing: border-box;
	border-radius: $border-radius-big;
	color: $gray1;
}
.popup.popup_error .popup__body {
	width: 400px;
}

.popup__message {
	margin-bottom: 30px;
}

.popup__close {
	@include themed-button;
}
/*--- 1.2 ---*/
/*--- 1 ---*/

/*--- 2. HEADER ---*/
.header {
	display: grid;
	grid-gap: $margin-horizontal;
	grid-template:
		"logo search user" 1fr /
		 1fr   2fr   1fr;

	padding: 33px 0 42px;
}

.header__logo,
.header__searchbar,
.header__user {
	width: 100%;
	align-self: center; // IE
}

.header__logo {
	grid-area: logo;
}

.header__searchbar {
	grid-area: search;
	text-align: center;
}

.header__user {
	grid-area: user;
	text-align: right;
	min-width: 100px;
	max-width: 100%;
}

@media (max-width: $w-md) {
	.header {
		grid-template:
			"logo 	user"   1fr
			"search search" 1fr /
			 	auto    1fr;
	}
}
@media (max-width: $w-xs) {
	.header {
		grid-template:
			"logo" 	 1fr
			"user"   1fr
			"search" 1fr /
			 100%;
	}
}

/*--- 2.1 LOGO ---*/
.branding {
	display: inline-block;
	vertical-align: text-bottom;
	margin-top: -1px;
	color: $text-color;
	text-decoration: none;

	&:focus {
		outline: none;
	}
}

.branding__image {
	vertical-align: middle;
	margin-right: 7px;
	margin-top: -1px;
	width: 37px;
	height: 36px;
}

.branding__text {
	@include title-size;
	display: inline-block;
	vertical-align: middle;
	font-weight: bold;
}
/*--- 2.1 ---*/

/*--- 2.2 SEARCHBAR ---*/
.searchbar {
	display: none;
}

.searchbar__input {
	@include themed-input;
	width: 320px;
}

.searchbar__search {
	@include flat-button;
	padding-left: 28px;
}

@media (max-width: $w-lg) {
	.searchbar__input {
		width: 250px;
	}
}

@media (max-width: $w-xs) {
	.searchbar {
		width: 100%;
		display: flex;
	}

	.searchbar__input {
		width: 100%;
		flex: 1 1 100px;
	}
}
/*--- 2.2 ---*/

/*--- 2.3 USER CONTROL ---*/
.user {
	display: none;
}

.user:not(.user_logged) .user__logged-in,
.user.user_logged .user__logged-out {
	display: none;
}

.user__logged-in {
	display: flex;
}

.user__username ,
.user__input {
	overflow: hidden;
	word-wrap: break-word; // IE
	overflow-wrap: break-word;
	flex: 1 1 200px;
}

.user__log-in {
	@include themed-button;
}

.user__username {
	font-weight: bold;
}

.user__input {
	@include themed-input;
	display: none;
}

.user__log-out {
	@include flat-button;
	padding: 0 0 0 16px;
}

/*--- 2.3.1 LOGIN FORM ---*/
.log-in__header {
	@include page-title-size;
	margin-top: 10px;
  margin-bottom: 4px;
	text-align: center;
	font-weight: bold;
}

.log-in__input {
	@include themed-input;
	width: 100%;
	margin-top: 20px;
}

.log-in__checkbox {
	display: block;
	margin-top: 19px;
}

.log-in__controls {
	margin-top: 110px;
	text-align: center;
}

.log-in__submit {
	@include themed-button;
	margin-left: 2px;
}
/*--- 2.3.1 ---*/
/*--- 2.3 ---*/
/*--- 2 ---*/

/*--- 3. MAIN NAV ---*/
.main-nav {
	text-align: center;
}

.main-nav__element {
	display: inline-block;

	&:first-child {
		margin-left: 1px;
	}
}

.main-nav__element + .main-nav__element {
	margin-left: 19px;
}

.main-nav__link {
	@include page-title-size;
	display: inline-block;
	font-weight: bold;
	line-height: 33px;
	text-decoration: none;
	color: $text-color;
	padding: 5px 1px;

	&:focus {
		outline: none;
	}

	&.main-nav__link_active {
		color: $primary;
		border-bottom: 2px solid $primary;
	}
}

.main-nav__element:first-child .main-nav__link {
	padding-left: 0;
}
.main-nav__element:last-child .main-nav__link {
	padding-right: 0;
}

.main-nav__cur-page {
	font-size: inherit;
}
/*--- 3 ---*/

/*--- 4. FOOTER ---*/
footer {
  background-color: $gray6;
	margin-top: 53px;
}

.footer {
  background-color: $gray6;
  padding-top: 22px;
  padding-bottom: 25px;

  position: relative;
	display: flex;
	align-items: center;
}

.footer__logo {
  width: 33px;
	height: 64px;
	padding-right: 39px;
  cursor: pointer;
}

.footer__info {
	line-height: 19px;

	p + p {
		margin-top: 6px;
	}

	a {
		text-decoration: none;
		color: $text-color;
	}

	.footer__weblink {
		margin-top: 10px;

		a {
			font-weight: bold;
			color: $htc-color;
		}
	}
}

@media (max-width: $w-sm) {
	.footer__logo {
		padding-right: 20px;
	}
}
/*--- 4 ---*/
