/*
 * 1. FILM INFO
 * 2. COMMENTS
 */

@import './variables';
@import './mixins';

.container_film {
  position: relative;
  margin-top: 6px;
}

.go-back {
  position: absolute;
  left: -2px;
  top: 10px;
}

/*--- 1. FILM INFO ---*/
.film {
  margin: auto;
  width: 980px;
  margin-bottom: 50px;
}

.film__poster {
  width: 280px;
  float: left;
  margin-right: 120px;
  border-radius: $border-radius-big;
}

.film__params {
  border-spacing: 0;
  border-collapse: collapse;
  margin-bottom: 7px;
}

.film__params td {
  padding-top: 2px;
  padding-bottom: 15px;
  vertical-align: baseline;
}

.film__param-name {
  padding-right: 25px;
}

.film__param {
  @include title-size;

  h1 {
    font-size: inherit;
    font-weight: bold;
  }
}

.film__clear {
  clear: both;
}

@media (max-width: $w-lg) {
  .film {
    width: 95%;
    margin-right: 0;
  }

  .film__poster {
    margin-right: 60px;
  }
}

@media (max-width: $w-md) {
  .film__poster {
    margin-right: 30px;
  }

  .film__param-name {
    padding-right: 10px;
  }
}

@media (max-width: $w-sm) {
  .film {
    margin-right: auto;
  }

  .film__poster {
    display: block;
    float: none;
    margin: 0 auto $margin-vertical;
    max-width: 90%;
  }
}
/*--- 1 ---*/

/*--- 2. COMMENTS ---*/
.comments {
  display: none;
  max-width: 780px;
  margin: 0 auto 20px;
}

.comments__title {
  @include title-size;
  text-align: center;
  margin-bottom: 24px;
}

.new-comment {
  position: relative;
  margin-bottom: 10px;
}

.new-comment__input {
  @include text-size;
  width: 100%;
  padding: 17px 16px 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 8px;
  font-family: $font-family;
  line-height: 19px;
  color: $primary;
  background: rgba( $primary, .15 );
  resize: none;
  height: 110px;

  &::placeholder {
    color: $primary;
  }
}

.new-comment__send {
  @include themed-button;
  position: absolute;
  left: calc(100% + #{$margin-vertical});
  padding: 10px 31px 9px 29px;
}

.comment {
  position: relative;
  padding: 17px 16px 15px;
  border-radius: $border-radius-big;
  background-color: $gray6;
}

.comment + .comment {
  margin-top: $margin-vertical;
}

.comment__user {
  @include text-size;
  line-height: 19px;
  margin-bottom: 8px;
}

.comment__text {
  line-height: 19px;
}

.comment__delete {
  position: absolute;
  left: calc(100% + 14px);
  top: 0;
  width: 15px;
  height: 15px;
  border: none;
  background: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: -1px;
    left: 8px;
    width: 2px;
    height: 18px;
    background-color: $red;
    border-radius: 1px;
  }

  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}

@media (max-width: $w-lg) {
  .new-comment {
    margin-bottom: $margin-vertical * 2;
  }

  .new-comment__send {
    display: block;
    position: relative;
    margin-left: auto;
    margin-top: 5px;
    left: initial;
  }
}

@media (max-width: $w-md) {
  .comment__delete {
    left: initial;
    right: 10px;
    top: 10px;
  }
}
/*--- 2 ---*/
