/*
 * 1. GALLERIES
 * 2. FILM CARDS
 */

@import './variables';
@import './mixins';
@import './sprites';

/*--- 1. GALLERIES ---*/
.gallery {
  margin-top: 32px;
}

.gallery__title {
  @include section-title-size;
  line-height: 28px;
  margin-bottom: 15px;
}

.gallery__icon {
  @include emoji-fire;
  margin-bottom: -2px;
}

.gallery__list.gallery__list_genres {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;

  .gallery__element {
    margin: 0 10px 20px;

    @media (max-width: $w-sm) {
      flex: 1 1 280px;
    }
  }
}

.gallery__list.gallery__list_films {
  @include hidden-scrollbar;
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}

.gallery__element {
  width: $card-width;
  max-width: 100%;
  margin-right: $margin-horizontal;

  &:last-child {
    margin-right: 0;
  }

  flex-shrink: 0;
}
/*--- 1 ---*/

/*--- 2. FILM CARDS ---*/
.film-card {
  color: $text-color;
  text-decoration: none;
}

.film-card__info {
  position: relative;
  height: 370px;
  border-radius: $border-radius-big;
  overflow: hidden;
}

.film-card__poster {
  height: 100%;
  width: 100%;
  margin: auto;
  object-fit: cover;
}

.film-card__description {
  position: absolute;
  height: 100%;
  background-color: $gray1;
  color: $white;
  opacity: 0;
  transition: opacity .15s ease-in-out;

  p {
    display: -webkit-box;
    max-height: 100%;
    margin: 16px;
    text-overflow: ellipsis;
    -webkit-line-clamp: 20;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.film-card:hover .film-card__description {
  opacity: .8;
}

.film-card__title {
  @include title-size;
  margin-top: 17px;
  font-weight: normal;
  line-height: 24px;
}
/*--- 2 ---*/

/*--- 3. GENRE CARDS ---*/
@function get-card-gradient($color1, $color2, $opacity) {
  @return linear-gradient(136.27deg, rgba($color1, $opacity) 8.44%, rgba($color2, $opacity) 91.36%);
}

.genre-card {
  position: relative;
  padding: 24px;
  box-shadow: inset 0px 0px 16px rgba(0, 0, 0, 0.15);
  $color1: #F2994A;
  $color2: #EB5757;
  $opacity: .8;
  $opacity-hover: 1;
  background: get-card-gradient($color1, $color2, $opacity);
  color: $white;
  text-align: center;
  border-radius: $border-radius-medium;
  cursor: pointer;

  &:hover {
    background: get-card-gradient($color1, $color2, $opacity-hover);
  }

  &.genre-card_yellow {
    $color1: #F2C94C;
    $color2: #F29A4A;
    background: get-card-gradient($color1, $color2, $opacity);

    &:hover {
      background: get-card-gradient($color1, $color2, $opacity-hover);
    }
  }
  &.genre-card_blue {
    $color1: #56CCF2;
    $color2: #2F80ED;
    background: get-card-gradient($color1, $color2, $opacity);

    &:hover {
      background: get-card-gradient($color1, $color2, $opacity-hover);
    }
  }
  &.genre-card_gray {
    $color1: #828282;
    $color2: #333333;
    background: get-card-gradient($color1, $color2, $opacity);

    &:hover {
      background: get-card-gradient($color1, $color2, $opacity-hover);
    }
  }
}

.genre-card__emoji {
  @include absolutely-centered;
}

.genre-card__emoji_comedy {
  @include emoji-grinning_face_with_smiling_eyes;
}
.genre-card__emoji_drama {
  @include emoji-loudly_crying_face;
}
.genre-card__emoji_fiction {
  @include emoji-extraterrestrial_alien;
}
.genre-card__emoji_horror {
  @include emoji-ghost;
}

.genre-card__title {
  @include title-size;
  margin-top: 138px;
  margin-right: 1px;
  font-weight: normal;
}

.genre-card__emoji_horror + .genre-card__title {
  margin-right: 2px;
}
/*--- 3 ---*/
