@import "./mixins";

.scroll-wrapper {
  overflow: hidden !important;
  padding: 0 0 17px !important;
  position: relative;

  & > .scroll-content {
    margin: 0;
  }

  & > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}

.scroll-element {
  display: none;

  &,
  & div {
    box-sizing: content-box;
  }

  &.scroll-x {
    display: none !important;
  }

  &.scroll-y.scroll-scrolly_visible {
    display: block;
  }

  .scroll-bar,
  .scroll-arrow {
    cursor: default;
  }
}

.scrollbar-inner > .scroll-element {
  &,
  div {
    position: absolute;
    z-index: 10;
  }

  div {
    height: 100%;
    width: 100%;
  }

  &.scroll-y {
    right: 0;
    top: 0;
    height: 100%;
    width: $scrollbar-width;
  }

  .scroll-element_outer {
    overflow: hidden;
  }

  .scroll-element_track {
    @include scrollbar;
  }
  .scroll-bar {
    @include scrollbar-thumb;
  }
}
